*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;


}

:root{
  --main-color:#2affca;
  --text-color:#fff;
  --bg-color:#292c29;
  --big-font:5rem;
  --h2-font:1rem;
  --p-font:0.9rem;
  --h3-font: 2rem;
  --h4-font: 2.2rem;
  --sec-bg-color:#1b1d1b;

}

::selection{
  background-color: var(--main-color) ;
  color: var(--text-color);
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}


/* header section */

/* .toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  visibility: hidden;
}

.toggle-button .bar{

  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
} */
#menu-btn i{

  
font-size: 30px;
visibility: hidden;

}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
   justify-content: space-between;
  align-items: center;
  padding: 30px 170px;
  border-bottom: solid white;
  border-width: thin;
  height: 3rem;
  background: #11131150;
}



.logo{
  color: var(--main-color);
  font-weight: 600;
  font-size: 2.4rem;
  position: absolute;
}

.logo span{
  color: var(--text-color);
}

header .navbar-links {
  
  position: absolute;
  right: 0;
padding-right: 70px;
width: auto;

 
}

header  ul {
    
  display: flex;

  

}



/* header .r li.active{

  opacity: 1;



}
header .r .active{
  visibility: hidden;
} */


.navbar-links a{
  color: var(--text-color);
  padding: 10px 20px;
  font-weight: 500;
  transition: color 0.6s linear;
}

.navbar-links li a:hover{
  color: var(--main-color);
}

#menu-icon{
  font-size: 2rem;
  cursor: pointer;
}



/* home section */

h4{
  font-size: var(--h4-font);
}

section{
  padding: 70px 17%;
  width: 100%;
  min-height: 90vh;

}

.home{
  width: 100%;
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
   align-items: center;
   margin-top: 40px; 
}

.home img{
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  
}

.home img:hover{

  transform:translateX(40px);
}

.home-text h1{
  font-size: var(--big-font);
  color: var(--main-color);
 
}

.home-text p{
  font-size: var(--h2-font);
  margin: 1rem 1rem;
  word-spacing: 2px;
  line-height:2rem;
}

.home-text h3{
  font-size: var(--h3-font);

}

.btn{
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 0.5rem;
  transition: 0.18s ease-out;
  cursor: pointer;
}

.btn:hover{

  transform: scale(1.2) translateY(5px);
}

/* about menu */

.about{
  display: grid;
  grid-template-columns: repeat(2, 2fr);

grid-gap: 1.5rem;
align-items: center;

  background-color: var(--sec-bg-color);
 
}



.about-img img{
  max-width: 100%;
  width: 600px;
  height: auto;
  border-radius: 40px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.about img:hover{

  transform:translateX(-40px);
}

.about-text span{
  color: var(--main-color);
  font-weight: 600;

}

.about-text h2{
  font-size: var(--h2-font);
  margin-top: 0.8rem;
}

.about-text p{

  margin: 0.8rem 0 1.8rem;
  line-height: 1.7;
}


.heading{
  text-align: center;
}

.heading span{
  color: var(--main-color);
  font-weight: 600;
}

.heading h2{
  font-size: var(--h2-font);

}


/* service section */



.service-container{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.5rem;
  align-items: center; */
  

  
  
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);

}

.service-container .btn{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: transform 0.18s ease-in-out , background-color 0.3s ease;
}

.service-container .btn:hover{
  background-color: rgb(151, 151, 151);

}

.box{
  position: relative;
  margin-top: 4rem;
  margin: 20px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #b9e6e6;
  padding: 20px;
  border-radius: 0.5rem;
  height: 350px;
  width: 370px;
  cursor: pointer;
}

.box i{

  font-size: 30px;
  background-color: var(--bg-color);
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
}

.box-img{

  width: 220px;
  height: 220px;

}

.box-img img{

  width: 100%;
  height: 100%;
}

.box h2{
  font-size: 1.3rem;
  color: var(--bg-color);
  margin-top: 10px;

}

.box h3{
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 400;
  margin: 6px 0 10px;
}

.box span{
color: var(--main-color);
}

/* .box i{
  background: var(--main-color);
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  padding: 7px;
  border-top-right-radius: 0.5rem} */


  /* portfolio section */


.portfolio{
  background: var(--sec-bg-color);
}

  .port-box{

    width: 350px;
    position: relative;
    text-align: center;
    height: auto;
  }

  .port-box-img{

    width: 350px;
    max-width: 350px;
    height: auto;
    cursor: pointer;
  
   
  
  }

  .layer{
    position: absolute;
    height: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    transition: .5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
cursor: pointer;
  }

.port-box:hover .layer{  

    height: 90%;

  }

  .port-box-img img{

    width: 100%;
    height:auto;
    display: block;
  }


  .portfolio-container{

    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(2, 2fr);
    justify-content: center;
    grid-gap: 20px;
  }

  .portfolio-container h3{
    margin: 5px;
    color: var(--main-color);
  }



  /* contact section */

  .contact-form{
    
    margin-left: 50px;

  }

  .contact-box h2{

   margin:30px 0;
   border: none;
   outline: none;

  }

  .contact-box h4 span{

    color: var(--main-color);
  }
  .contact-box h3{

    margin:30px 0;
    }

    
 .contact-box p{
  margin:30px 0;
    }

  .contact-conatiner{

    display: grid;
    grid-template-columns: repeat(2, 2fr);

  }

   .email-input{

    width: 16rem;
    height: 2rem;
    border: none;
    background: #b9e6e6;
    border-radius: 35px;
    padding-left: 10px;
  }

  .number-input{
    width: 16rem;
    height: 2rem;
    background: #b9e6e6;
    border: none;
    border-radius: 35px;
    padding-left: 10px;
  }

  .info-input{
    width: 25rem;
    height: 16rem;
    border: none;
    background: #b9e6e6;
    border-radius: 5px;
    padding-left: 10px;
  }

  .input-div{

    margin: 20px 0;

  }

  .icons{
    
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; */
}

.icons a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding-bottom: 50px;
  transition: color 0.2s ease-in-out;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  
  }

  .icons a i{

    font-size: 30px;
  }

  .icons a:hover{
    color:var(--main-color);
  }

  /* footer section */

  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  border-top: solid white;
  border-width: thin;
  height: 5rem;
  background: var(--sec-bg-color);
  }

  footer a{
    width: 50px;
    height: 40px;
    margin-right: 40px;
   /* margin-top: 20px; */

  }

  footer p{

    margin-left: 30px;
    

  }

  /* media queries */
  /* --dextop: 1200px;
  --laptop: 992px;
  --tablet: 768px;
  --phone: 460px; */


  @media screen and (max-width: 740px){

    
    body p {

      font: 0.5px;
      

    }

    header{
      width: 100%;
      position: relative;

      
    }
    header .logo{
      position: absolute;
      right: 530px;

    }
    /* .toggle-button{

      visibility: visible;
      margin-top: 8px;


    } */

    header .navbar-links{
  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0;
      
    }

     .navbar-links{
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
      width: 100%;
      top: 0;
      background: var(--main-color);
      height: 60vh;
      margin: 0;
      font-size: 20px;
      transform: translateY(-800px);
      transition: all 0.5s;
    }
  

    .navbar-links li{

      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 15px 0;
    }

    .navbar-links li a:visited{
      color: var(--sec-bg-color);

    }
    .navbar-links li a{

      color: var(--sec-bg-color);

    }

    .showmenu{
      transform: translate(0);
    }

    #menu-btn i {

     visibility: visible;
      position: absolute;

      right: 30px;
      top: 15px;
  
      
    }
  

    

    .header .navbar-links:hover{

      visibility: visible;


    }



   

    .r-links ul li a:hover{

      color: var(--text-color);
      transform: scale(2);
    }
    
   .contact-conatiner .icons {

 display: flex;
 justify-content: center;
 align-items: center;
    }

    .icons i{

      margin: 0 10px;
    }

  

  

    .home{
      display: flex;
      flex-direction: column;
    }

    .home-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 40px;

    }

    .about{
      display: flex;
      flex-direction: column;
    }

    .about-text{
      order: 0;

      text-align: center;

    }

    .about-img{
      order: 1;

    }

    .service-container{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    
    .portfolio-container{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 50px;

    }

    .logo{
      position: absolute;
      left: 20px;
font-size: 2rem;
    }

    .contact-conatiner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }

    .contact-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contact-form{

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .forms{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .email-input{
      padding-left: 30px;
    }

    /* input [type = text]{

      margin-left: 10px;
    } */

    .menubar i{
      visibility: visible;
      position: absolute;
      padding-left: 130px;
      font-size: 26px;
      }

      .menubar{
     margin-bottom: 20px;
      }
   

   .r {
      display: flex;
      flex-direction: column;
      position: absolute;
     
    }

    }

  

  @media screen and (max-width: 460px){

    .home-text h1{

      font-size:3.5rem;
    }

    .home img{

      border-radius: 10px;
    }

    .about img{
      border-radius: 10px;
    }

    .header{
      width: 100%;
      justify-content: center;
      overflow: hidden;
    }
    
 



  .box{

    height: 300px;
    
    width: 310px;
    position: relative;

  }

  .box h3{

    font-size: 15px;
    margin-bottom: 30px;
  }

  .service-container .box i{
    font-size: 30px;

    height:  60px;
    width: 60px;
    padding: 10px 0;


  }

  .port-box{
    
    width: 290px;
  }

  .port-box img{

    width: 290px;

  }



  .info-input{
    width: 250px;
    margin-right:40px;
  }

  .email-input{
    margin-right:40px;
  }

  .number-input{
    margin-right:40px;
  }

  .contact-form .btn{

    margin-right:40px;

  }

  footer{
    font-size: 12px;
   
  }

  footer p{
    margin-left: 50px;
  }

  footer .btn{
    display: none;
   
  }

  .service{
    margin-top: 60px;
  }

  

}